# ----- Android Studio ----

# General
.DS_Store
*.log

# Android Studio
.gradle/
.idea/
*.iml
local.properties
build/

# OS/Editor/Log files
.DS_Store
Thumbs.db
*.log

# ----- Android Studio ----

.env
environment.yml